.headerMobile{ 
    width: 100%;
    background: #0082c3;
    padding: 16px 0;
}

.headerMobileTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6px 0 14px;
}

.boxCartMenu{
    display: flex;
    justify-content: center;
    align-items: center;
}