.contentBtnCoutries {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aeb1b4;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 500;
  background-color: initial;
  background-image: none;
  border: 1px solid #aeb1b4;
  margin-top: 40px;
}

.iconArrowDown {
  margin-left: 5px;
}

.boxBtnCountries {
  position: relative;
  background-color: #1d1c1c;
}

.iconRotated {
  transform: rotate(180deg);
  transition: transform 0.3s ease; 
}


