.itemOneBannerMobile img, .itemOneBannerDesktop img{
    width: 100%;
    height: auto;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1344px;
    margin: auto;
}

