.boxBannerSlide{
    width: 100%;
    height: auto;
    display: block;
    padding: 0 4px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1344px;
}

.slikBannerSlide{
    display: flex!important;
    justify-content: center;
    align-items: center;
}

.slideArrowPrev::before{
    display: none;
}

.slideArrowNext::before{
    display: none;
}

.arrowPrevBannerSlide, .arrowNextBannerSlide{
    width: 40px;
    height: 40px;
    background-color: #f7f7f7;
    border-radius: 50%;
}

.imgBannerSlide{
    display: flex!important;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.textBannerSlide{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 1344px;
    margin: auto;
    margin-top: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: #a8a8b0;
    text-align: center;
}

.slikBannerSlideMobile img{
    width: 100%;
    height: auto;
    padding: 0 24px;
}

.slikBannerSlideDesktop img{
    width: 100%;
    height: auto;
    padding: 0 24px;
}